body{
  font-family: sans-serif;
  margin: 100px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
th, td{
  border: 2px solid #933c3cc1;
  padding: 15px;
  text-align: middle;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #957474;
}
nav li{
  display: inline-block;
}
nav a{
  display: inline-flex;
  padding: 8px 26px;
  text-decoration: none;
}
p {
  color: red;
  font-size: 20px;
}
button {
   color: #7c3535;
   margin: 8px;
}